#dataInput{
    width: 60%;
    margin: auto;
    padding: 1%;
}

#dataInput td{
    margin: auto;
}

#tolerance{
    width: 60%;
    margin: auto;
    padding: 1%;
}

#tolerance td{
    padding: 1%;
}

#showSelected{
    width: 60%;
    margin: auto;
    padding: 1%;
}

#showSelected td{
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    width: 25%;
    color: white;
    background-color: #111111;
}

.selectTable{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.selectButton{
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: #111111;
    color: white;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.inputTolerance{
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.selectButton:active{
    box-shadow: 0 0 0 0;
}

#dataTable{
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    z-index: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#dataTable td, th{
    border: 1px solid black;
    padding: 1%;
    text-align: center;
}