#dataTable{
    width: 80%;
    margin: 10%;
    margin-top: 10%;
    z-index: 0;
    position: absolute;
}

#modalTable{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#modalTable td,th{
    border: 1px solid black;
    padding: 2%;
    width: 20%;
}

#dataTable td{
    border: 1px solid #111111;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.clearLink{
   text-decoration: none;
   color: black;
   float: right;
   padding: 1%;
   margin: 1%;
   width: 80px;
   background-color: #111111;
   color: white;
   border: 1px solid black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.viewLink{
    text-decoration: none;
    color: black;
    float: right;
    padding: 1%;
    margin: 1%;
    width: 80px;
    background-color: #111111;
    color: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
 }

.viewLink:active{
    box-shadow: 0 0 0 0;
}

.clearLink:active{
    box-shadow: 0 0 0 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: white;
    margin: auto;
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    width: 30%;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px 20px 10px 40px;
}


#search {
    width: 20%;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    background-color: #111111;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#search:active{
    box-shadow: 0 0 0 0;
}